body{
    font-family: Arial, Helvetica, sans-serif !important;
}


.bg-blue{
    background-color: #00b0f0 !important;
}

.bg-white{
    background-color: #ffffff !important;
}

.bg-yellow{
    background-color: #ffc000 !important;
}

.btn-yellow{
    background-color: #ffc000 !important;
    color: white !important;
    font-weight: bold !important;
}

.btn-yellow:hover{
    background-color: #e9af03 !important;
    text-decoration: underline !important;
}

.nav-link{
    color: #ffffff;
    font-weight: bold;
}

.ry-corners{
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.mr-7{
    margin-right: 4.0em !important;
}

.navbar {
    padding:0rem;
    margin-bottom:2rem;
}
  
.dropdown .dropdown-menu {
    border-radius:0;
}

h1{
    font-size:23px;
    font-weight: bold;
}

.w-30{
    width: 30% !important;
}

.break-work{
    word-wrap:break-word;
}


.text-blue{
    color: blue !important;
}

.step > div.col{
    padding: 10px;
    background-color: #e4e4e4;
    margin-right: 24px;
    margin-bottom: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-align: center;
    padding-top: 8px;
    padding-left: 53px;
    padding-right: 40px;
    padding-bottom: 7px;
    line-height: 13px;
    transition: 0.3s;
    pointer-events: none;
}

.step >div.col:nth-child(2){
    padding-top: 15px;
}

.step-active:hover{
    background-color: #69b816 !important;
}

.step-active{
    background-color: #92d050 !important;
    transition: 0.3s;
    pointer-events: all !important;
}

.text-underline{
    text-decoration: underline;
}

div.bg-blue > h1{
    color:white;
    font-size: 20px;
}

div.row.step{
    margin: 0px 110px;
}

/* SUB MENU STYLES */

div.sub-menu > div:not(:last-child){
    margin-right: 20px;
}

.sign-info{
    font-size: 19px;
}
  
/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    border-radius:0;
    }
}

.search-box{
    font-size: 1em;
}

.search-btn{
    cursor: pointer;
    padding:5px 10px;
    margin-bottom:5px;
}
.search-btn:hover{
    background-color: rgb(0,176,240);
    color:white;
}

.ml-special{
    margin-left: 10%;
}

.input-section2{
    width: auto !important;
}

.input-row{
    margin-top: 15px;
    
}

.flexbox {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

.sm-text{
    font-size: .7em;
}

.tiny-text{
    font-size: .5em;
}

.really-tiny-text{
    font-size: .25em;
}

.tlf-checkbox{
    padding: 3px 80px;
}

.ast-required{
    color:red;
    margin-right:3px;
}

.dropdown-custom{
    background-color: rgba(0,0,0,0.0) !important;
    border: solid 1px #ced4da;
    border-radius: .25rem;
}

.border-blue{
    border-color: blue !important;
}


/*FONT AWESOME SOCIAL NETWORK */

.fab {
    padding: 5px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;    
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-facebook-square {
    color: #3B5998;
    /* color: white; */
    font-size: 2em;
}
.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-twitter-square {
    color: #55ACEE;
    /* color: white; */
    font-size: 2em;
}

.fa-instagram-square{
    color: #125688;
    font-size: 2em;
}

.fa-envelope{
    font-size: 2em;
}
.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-pinterest {
background: #cb2027;
color: white;
}

.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
background: #00aff0;
color: white;
}

.fa-android {
background: #a4c639;
color: white;
}

.fa-dribbble {
background: #ea4c89;
color: white;
}

.fa-vimeo {
background: #45bbff;
color: white;
}

.fa-tumblr {
background: #2c4762;
color: white;
}

.fa-vine {
background: #00b489;
color: white;
}

.fa-foursquare {
background: #45bbff;
color: white;
}

.fa-stumbleupon {
background: #eb4924;
color: white;
}

.fa-flickr {
background: #f40083;
color: white;
}

.fa-yahoo {
background: #430297;
color: white;
}

.fa-soundcloud {
background: #ff5500;
color: white;
}

.fa-reddit {
background: #ff5700;
color: white;
}

.fa-rss {
background: #ff6600;
color: white;
}


.fa-caret-down{
    color: #ffc000;
}

.cursor-pointer{
    cursor: pointer !important;
}

.avatar-image{
    width: 35px;
    padding: 6px 0px;
}

.log-in-text{
    font-size: 14px;
}

.sign_in_button{
    cursor: pointer;
}

.button-menu:hover{
    color: yellow;
    text-decoration: underline !important;
}

.user-dropdown{
    border: 3px solid #ffc000;
}

.user-option{
    padding: 7px 25px !important;
    font-size: 14px !important;
}
.user-option:first-child{
    border-bottom: 3px solid #ffc000;
}

.user-option:hover{
    background-color: #ffc000;
    color:white;

}

#navbarUser{
    height: 38px;
}

.profile-item{
    width: 11vw;
}

.siguenos-text{
    text-align: right;
    /* margin-top: 1em !important; */
    margin-right: 2%;
    font-weight: bold;
}

.text{
    text-align: left;
}
.inner-border {

    /* box-shadow: inset 0px 0px 0px 10px #727271;
    box-sizing: border-box; Include padding and border in element's width and height */
    outline: 4px dashed rgba(114, 114, 113, .5);
    outline-offset:-4px;
}

.centered-overlay{
    top: 50%;
    left: 48%;
    transform: translateX(-50%);
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color:rgba(114, 114, 113, .5);
    letter-spacing: 2px;

}

.preloader1{
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    z-index: 1000;
}

.hover-state:hover{
    cursor:pointer;
}

.dwelling-image{
    width: 100%;
    height: 100%;
}

.siguenos-text{
    text-align: right;
    /* margin-top: 1em !important; */
    margin-right: 2%;
    font-weight: bold;
}

.text{
    text-align: left;

}

#change-password{
    visibility: hidden;
}