body{
    font-family: Arial, Helvetica, sans-serif !important;
}
.bg-blue{
    background-color: #00b0f0 !important;
}

.bg-white{
    background-color: #ffffff !important;
}

.bg-yellow{
    background-color: #ffc000 !important;
}

.nav-link{
    color: #ffffff;
    font-weight: bold;
}

.ry-corners{
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.mr-7{
    margin-right: 4.0em !important;
}

.navbar {
    padding:0rem;
    margin-bottom:2rem;
}
  
.dropdown .dropdown-menu {
    border-radius:0;
}

h1{
    font-size:23px;
    font-weight: bold;
}

.text-blue{
    color: blue !important;
}

.step > div.col{
    padding: 10px;
    background-color: #e4e4e4;
    margin-right: 24px;
    margin-bottom: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color:white;
    text-align: center;
    padding-top: 8px;
    padding-left: 53px;
    padding-right: 40px;
    padding-bottom: 7px;
    line-height: 13px;
    transition: 0.3s;
    pointer-events: none;
}

.step >div.col:nth-child(2){
    padding-top: 15px;
}

.step-active:hover{
    background-color: #69b816 !important;
}

.step-active{
    background-color: #92d050 !important;
    text-decoration: underline;
    transition: 0.3s;
    pointer-events: all !important;
}

div.bg-blue > h1{
    color:white;
    font-size: 20px;
}

div.row.step{
    margin: 0px 110px;
}

/* SUB MENU STYLES */

div.sub-menu > div:not(:last-child){
    margin-right: 20px;
}

.sign-info{
    font-size: 19px;
}
  
/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    border-radius:0;
    }
}

<<<<<<< HEAD
footer{
    margin-top: 100px;
}
=======

>>>>>>> 91b2fee6aca2c0d3b606ec4222cbc7aa13366819
