.image-box{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
    /* border-style: none !important; */
}

.video-box{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

.uploaded-image{
    max-width: 100%;
    height: 100%;
}


/* .image-box > div{

} */

.image-box:hover .overlay{
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-out;
    background-color: rgba(184, 184, 179, 0.5);
}

.video-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease-out;
    background-color: rgba(14, 14, 14, 0.75);
    z-index: 1;
}

.dwelling-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.dragspace-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 82, 236);
    z-index: 3;
}

.overlay > div.icon-container {
    transform: translateX(60%);
}

.icon-container{
    cursor:pointer;
}

.close-btn{
    z-index:1000;
    left: 41%;
    position: absolute;
}

.close-btn:hover{
    color: white;
    transition: .5s ease;
}

.expanded-image{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
}

.expanded-video{
    position: absolute;
    top: 67.5px;
    left: 50vh;
    width: 647px;
}

.close-btn-video{
    z-index: 1000;
    left: 70%;
    position: absolute;
    color: rgb(134, 134, 134);
}

.close-btn-video:hover{
    color: white;
    transition: .5s ease;
}

.icon-container-modal{
    left: 96%;
    position: absolute;
    top: 2%;
    font-size: 31px;
    color: white;
    cursor: pointer;
}

#video-drop-text{
    top: 35%;
    z-index: 1;
}

.video-box{
    position:relative;
}

.video-tag{
    position: absolute;
    width: 100%;
    height: 100%;
}

.play-btn{
    position: absolute;
    z-index: 2;
    font-size: 33px;
    /* left: 15%; */
    /* top: 6%; */
    color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    padding: 11px 14px;
}

.play-icon:hover{
    color: rgba(255, 255, 255, 0.911);
}

#other-li > *{
    margin-left: 19px;
}

#dwelling-other-input{
    width: 75%;
    height: 23px;
    margin-top: 3px;
    font-size: 11.2px;
}

.hour-dropdown{
    min-width: 4rem;
}
.cursor-pointer{
    cursor:pointer;
}

.resize-none{
    resize:none;
}

.list-photo-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: .5s ease-out;
    background-color: rgba(184, 184, 179, 0.5);
}

.select-dwelling{
    z-index:2;
}