.image-box{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
    /* border-style: none !important; */
}

.video-box{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

.uploaded-image{
    max-width: 100%;
    height: 100%;
}


/* .image-box > div{

} */

.image-box:hover .overlay{
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-out;
    background-color: rgba(184, 184, 179, 0.5);
}

.video-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease-out;
    background-color: rgba(14, 14, 14, 0.75);
    z-index: 1;
}

.dwelling-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.dragspace-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 82, 236);
    z-index: 3;
}

.overlay > div.icon-container {
    transform: translateX(60%);
}

.icon-container{
    cursor:pointer;
}

.close-btn{
    z-index:1000;
    left: 41%;
    position: absolute;
}

.close-btn:hover{
    color: white;
    transition: .5s ease;
}

.expanded-image{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
}

.expanded-video{
    position: absolute;
    top: 67.5px;
    left: 50vh;
    width: 647px;
}

.close-btn-video{
    z-index: 1000;
    left: 70%;
    position: absolute;
    color: rgb(134, 134, 134);
}

.close-btn-video:hover{
    color: white;
    transition: .5s ease;
}

.icon-container-modal{
    left: 96%;
    position: absolute;
    top: 2%;
    font-size: 31px;
    color: white;
    cursor: pointer;
}

#video-drop-text{
    top: 35%;
    z-index: 1;
}

.video-box{
    position:relative;
}

.video-tag{
    position: absolute;
    width: 100%;
    height: 100%;
}

.play-btn{
    position: absolute;
    z-index: 2;
    font-size: 33px;
    /* left: 15%; */
    /* top: 6%; */
    color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    padding: 11px 14px;
}

.play-icon:hover{
    color: rgba(255, 255, 255, 0.911);
}

#other-li > *{
    margin-left: 19px;
}

#dwelling-other-input{
    width: 75%;
    height: 23px;
    margin-top: 3px;
    font-size: 11.2px;
}

.hour-dropdown{
    min-width: 4rem;
}
.cursor-pointer{
    cursor:pointer;
}

.resize-none{
    resize:none;
}

.list-photo-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: .5s ease-out;
    background-color: rgba(184, 184, 179, 0.5);
}

.select-dwelling{
    z-index:2;
}

#carousel-container{
    width: 900px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.border-none{
    border: 0px;
}

iframe > * {
    background-color: rgba(0,0,0,0);
}

.video-control-prev{
    margin-left : -165px;
}
.video-control-next{
    margin-right : -165px;
}

.w-540{
    height:360px;
}

.image-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    top: 50%;
    transform: translateY(-50%);
}

#description-modal{
    position: absolute;
    width: 350px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: solid 3px #ffc000;
    z-index: 10000;
}

.modal-border{
    border: 1px solid #000;
}

.md-text{
    font-size: 0.9em;
}

.dwelling-icon{
    width: 27%;
}

.overlay-input-dwelling{
    z-index: 1000;
}

.badge-label{
    text-align: left;
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    width: 100%;
}

.modal-media-container{
    display:flex;
    flex-direction: column;
}

.modal-media-container>.row{
    justify-content: center;
}

.modal-media-container>.row:not(:first-child){
    margin-top:20px;
}

.row>.image-box:not(:first-child), .row>.video-box:not(:first-child){
    margin-left:25px;
}

.play-btn-modal{
    position: absolute;
    z-index: 2;
    font-size: 33px;
    /* left: 15%; */
    /* top: 6%; */
    color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.play-btn-modal:hover{
    color: rgba(255, 255, 255, 0.911);
}

#contact-announcer-radio-btns-container > .radio:not(:first-child){
    margin-top:10px;
}

#dwell-contact-announcer-modal{
    overflow-y: scroll;
}

.tlf-checkbox-contact-announcer{
    padding: 0px 40px;
}

.phone-contact-announcer{
    width:80%;
}

.label-contact-announcer{
    margin-left: -34px;
    padding: 5px 15px;
}

.flex-row > .day-checkbox{
    zoom:0.7;
}

.day-label{
    font-size:9.5px;
}

.checkbox-container > .day-checkbox{
    pointer-events: none;
}

.tiny-checkbox-dropdown{
    padding-left: 0px;
}

.tiny-checkbox-dropdown .dropdown-toggle{
    color: #000;
    border-color: #000 !important;
    border-radius: 0;
}

.w-54{
    width:54%;
}