.form-check{
    font-size: 19px;
}

label.checkbox{
    padding-left:20px;
}

ul{
    list-style:none;
}

.checkbox-dropdown{
    padding-left: 0px;
}

.checkbox-dropdown .dropdown-toggle{
    border: 1px solid #000000;
    padding: 5px 20px 5px 122px;
    color: #495057;
}

.border-gray{
    border: 1px solid #ced4da !important;
    border-radius: .25em;
}