.form-check{
    font-size: 19px;
}

label.checkbox{
    padding-left:20px;
}

ul{
    list-style:none;
}

.checkbox-dropdown{
    padding-left: 0px;
}

.checkbox-dropdown .dropdown-toggle{
    border: 1px solid #000000;
    padding: 5px 20px 5px 122px;
    color: #495057;
}

.border-gray{
    border: 1px solid #ced4da !important;
    border-radius: .25em;
}

.sms-other-step4, .medios-other-step4, #email-other-step4
,.fb-account-other-step4{
    visibility: hidden;
}

.modal-open{
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.modal-bg{
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    overflow: hidden;
    width: 100%;
}